/* --------------------------------
            FOOTER
-------------------------------- */

footer {
    border-top: 2px solid $black;
    height: 100px;
    background-color: $red;
    color: #fff;
    font-size: 30px;
    h5 {
        text-align: center;
        line-height: 100px;

    }
}