
.home {
  position: fixed;
  bottom: 85px;
  right: 45px;
  a {   
    display: inline-block;
    text-decoration: none;
    margin-top: 65px;
    color: $text;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: $red;
    margin-bottom: 50px;
  }
} 
.tabella {
  padding-top: 40px;
  height: calc(100% - 200px);
  overflow: auto;
  & table.table {
    @extend %shadow;
  }
}